.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

#sidebar-wrapper{
    z-index:1;
    position: absolute;
    width:10px;
    height:100%;
    overflow-y:hidden;
    background-color: #2c3e50;
    opacity:0.9;
    transition: all .4s ease 0s;
}

/**Container**/
#page-content-wrapper{
    width:100%;
    position:absolute;
    padding: 15px;
    transition: all .4s ease 0s;
}

/*change the width of the sidebar to display it*/
.wrapper.menuDisplayed #sidebar-wrapper{
    width:250px;
    transition: all .7s ease 0s;
}

.wrapper.menuDisplayed #page-content-wrapper{
    padding-left:250px;
    transition: all .7s ease 0s;
}

/**Sidebar**/
.sidebar-nav{
    padding:0;
    list-style:none;
}

.sidebar-nav li{
    text-indent:20px;
    line-height:40px;
}

.sidebar-nav li a{
    display:block;
    text-decoration: none;
    color: #ddd;
}

.sidebar-nav li a:hover{
    background: #16a085;
}

.messageOutput{
    margin-top: 50px;
    height:300px;
    overflow:scroll;
    border:black, 1px;
    width:100%;
}


#languageControl{
    margin:3px;
}

