@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
body{
    overflow: hidden;
}

.navbar{
    margin-bottom: 0;
    border-radius: 0;
    color:red;
}

.jumbotron{
    min-height:100vh;
    background: url('/img/friends-talking-min.jpg') no-repeat center center;
    background-size: cover;
    text-align:center;
    margin-bottom:0;
}

.jumbotron h1{
    position: relative;
    padding-top: 20%;
    margin: 0;
    color:whitesmoke;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
    font-family: 'Roboto Slab', serif;
}

.jumbotron p{
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    color:whitesmoke;
    font-family: 'Roboto Slab', serif;
}

.jumbotron a{
    margin-top: 20px;
}

.panel-default{
    opacity: 0.9;
    margin-top:30px;
}

.form-group.last { margin-bottom:0; }

#userList{
    white-space: nowrap;
}

#userList h3{
    background: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.5em;
    padding: 1em;
    margin: 0;
    font-weight: 300;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

#userList li{
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
    margin: 1em 0.7em;
    transition:0.3s;
}

#userList a{
    padding-left: 1em;
    text-decoration: none;
    font-size: 1.5em;
    color:whitesmoke;
    display: block;
    transition: 0.3s
}

#userList li:hover{
    background-color: royalblue;
    transition:0.3s;
}

.notification-badge {
    position: relative;
}

.notification-badge[data-badge-count]:after {
    background: #0050b1;
    border-radius: 7px;
    color: #fff;
    content: attr(data-badge-count);
    font-size: 10px;
    font-weight: 600;
    height: 14px;
    line-height: 13px;
    right: -10px;
    padding: 0 6px;
    position: absolute;
    width: 12px;
    text-align: center;
    top: -6px;
}

#sidebar-wrapper{
    z-index:1;
    position: absolute;
    width:0;
    height:100%;
    overflow-y:hidden;
    background-color: #2c3e50;
    transition: all .4s ease 0s;
}

/**Container**/
#page-content-wrapper{
    width:100%;
    height:100%;
    position:absolute;
    transition: all .4s ease 0s;
    background: -webkit-linear-gradient(330deg, #17bebb, #f0a6ca);
    background: linear-gradient(120deg, #17bebb, #f0a6ca);
}


#chatNav{
    postion:absolute;
    top:0;
    width:100%;
    height:100%;
    background: rgba(255, 255, 255, 0.2);
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
}

/*change the width of the sidebar to display it*/
.wrapper.menuDisplayed #sidebar-wrapper{
    width:250px;
    transition: all .7s ease 0s;
}

.wrapper.menuDisplayed #page-content-wrapper{
    padding-left:250px;
    transition: all .7s ease 0s;
}

#messageOutput{
    margin-top:0;
    margin-bottom: 10px;
    height:80vh;
    width:100%;
    overflow-y: scroll; /* has to be scroll, not auto */
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

#messageOutput::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#messageOutput::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

#messageOutput::-webkit-scrollbar-thumb
{
    background-color: #000000;
}

#messageOutput ul{
    margin:20px 0 0 0;
    padding-left:0;
}

#messageOutput li {
    list-style: none;
    margin-left:25%;
    margin-right:10%;
}

.avatar {
    width: 40px;
}

.avatar img {
    border-radius: 10px;
    width: 40px;
    height: 60px;
    display: inline-block;
}

.messages:nth-of-type(odd) {
    position: relative;
    margin-bottom: 1%;
    float:left;
    width:50%;
    display:block;
    padding-left:3px;
    padding-top:2px;
    padding-bottom:2px;
    background: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

.messages:nth-of-type(even) {
    position: relative;
    margin-bottom: 1%;
    float:right;
    width:50%;
    display:block;
    padding-left:3px;
    padding-top:2px;
    padding-bottom:2px;
    background: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

.messages:nth-of-type(odd):before{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left:-25px;
    border: solid 15px transparent;
    border-right: 10px solid rgba(255, 255, 255, 0.2);
    z-index: 1;
}

.messages:nth-of-type(even):after{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right:-25px;
    border: solid 15px transparent;
    border-left: 10px solid rgba(255, 255, 255, 0.2);
    z-index: 1;
}

#messageEnter{
    position:fixed;
    bottom:0;
    width:100%;
    background: rgba(255, 255, 255, 0.2);
    font-size: 1em;
    font-family: 'Lato', sans-serif;
}

#translation{
    border: none;
    width: 100%;
    padding: 1.2em;
    outline: none;
    font-weight: 300;
    text-align: center;
}

#messageEnter form {
    background: #222;
}

#messageEnter form input {
    background: rgba(255, 255, 255, 0.03);
    color:whitesmoke;
    border: none;
    width: 100%;
    padding: 1.2em;
    outline: none;
    font-weight: 300;
    text-align: center;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.9);
}

:-moz-placeholder {
    color: rgba(255, 255, 255, 0.9);
}

::-moz-placeholder {
    color: rgba(255, 255, 255, 0.9);
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.9);
}


@media (max-width: 600px) {
    body{
        overflow:scroll;
    }

    .jumbotron {
        background-color: rebeccapurple;
        background-image: none;
    }

    .jumbotron h1 {
        font-size: 2em;
    }

    #chatHeader {
        font-size: 1em;
    }

    #sidebar-wrapper {
        z-index: 1;
        position: absolute;
        width: 0;
        height: 100%;
        overflow-y: hidden;
        background-color: #2c3e50;
        transition: all .4s ease 0s;
    }

    /**Container**/
    #page-content-wrapper {
        width: 100%;
        height: 100vh;
        position: fixed;
        padding: 15px;
        transition: all .4s ease 0s;
        background-color: whitesmoke;
    }

    /*change the width of the sidebar to display it*/
    .wrapper.menuDisplayed #sidebar-wrapper {
        width: 100%;

    }

    .wrapper.menuDisplayed #page-content-wrapper {
        padding-left: 0;
    }

    #messageOutput{
        margin-top: 0;
    }

    .messages:nth-of-type(even) {
        width:60%;
        margin:3px 0 0 0;
    }

    .messages:nth-of-type(odd){
        width:60%;
        margin:3px 0 0 0;
    }
}


