@font-face {
    font-family: KingThing;
    src: url(../fonts/KingThings_Foundation.ttf);
    weight:bold;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    font-family: KingThing, Helvetica, Arial, sans-serif;
    /**background:url(https://www.takemefishing.org/tmf/assets/images/fish/american-shad-464x170.png);
    animation: backgroundScroll 10s linear infinite;**/
}

/**
@keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: 0px -150px;}
}**/

#userList{
    white-space: nowrap;
}

#userList h3{
    background-color: #0f0f0f;
    color:red;
}

#userList li {
    color: #aaa;
    cursor: pointer;
    font-size: 24px;
    margin-right: 30px;
}

#userList li:hover {
    color: #777;
    opacity: 1;
}

.notification-badge {
    position: relative;
}

.notification-badge[data-badge-count]:after {
    background: #0050b1;
    border-radius: 7px;
    color: #fff;
    content: attr(data-badge-count);
    font-size: 10px;
    font-weight: 600;
    height: 14px;
    line-height: 13px;
    right: -10px;
    padding: 0 6px;
    position: absolute;
    width: 12px;
    text-align: center;
    top: -6px;
}

#sidebar-wrapper{
    z-index:1;
    position: absolute;
    width:0px;
    height:100%;
    overflow-y:hidden;
    background-color: #2c3e50;
    opacity:0.9;
    transition: all .4s ease 0s;
}

/**Container**/
#page-content-wrapper{
    white-space: nowrap;
    width:100%;
    position:absolute;
    padding: 15px;
    transition: all .4s ease 0s;
}

/*change the width of the sidebar to display it*/
.wrapper.menuDisplayed #sidebar-wrapper{
    width:250px;
    transition: all .7s ease 0s;
}

.wrapper.menuDisplayed #page-content-wrapper{
    padding-left:250px;
    transition: all .7s ease 0s;
}

/**Sidebar**/
.sidebar-nav{
    padding:0;
    list-style:none;
}

.sidebar-nav li{
    text-indent:20px;
    line-height:40px;
}

.sidebar-nav li a{
    display:block;
    text-decoration: none;
    color: #ddd;
}

#sidebarToggle{
    margin:3px;
}

#messageOutput{
    background:#e6f6ff;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left:3px;
    height:300px;
    overflow-y:scroll;
    border:black solid 1px;
    width:100%;
    overflow-x: hidden;
    padding:3px;
}

#messageOutput::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#messageOutput::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

#messageOutput::-webkit-scrollbar-thumb
{
    background-color: #000000;
}

#messageOutput #chatHeader{
    padding-left: 10px;
    padding-bottom: 5px;
    border-bottom:black solid 1px;
}

#messageOutput li {
    list-style: none;
}

.avatar {
    width: 40px;
}

.avatar img {
    border-radius: 30px;
    width: 100%;
    display: block;
}

.messages{
    margin-left:0;
}

.messages p {
    margin-left:2px;
    position: relative;
    display:block;
    text-align: center;
    padding-left:3px;
    padding-right:3px;
    padding-top:2px;
    padding-bottom:2px;
    background-color: #fff;
    border: 4px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

.messages time {
    font-size: 0.7rem;
    color: #ccc;
}

.messages_from{
    float:right;
    margin-right:0;
}

.messages_from p {
    margin-left:2px;
    position: relative;
    display:block;
    text-align: center;
    padding-left:3px;
    padding-right:3px;
    padding-top:2px;
    padding-bottom:2px;
    background-color: #fff;
    border: 4px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

.messages_from time {
    font-size: 0.7rem;
    color: #ccc;
}

.languageControl{
    margin:3px;
}

#translation{
    white-space: nowrap;
    padding-bottom:3px;
    padding-left:3px;
}

#messageEnter{
    padding-left:20px;
    padding-right:20px;
}



