@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
body{
    overflow: hidden;
}

.navbar{
    margin-bottom: 0;
    border-radius: 0;
    color:red;
}

.jumbotron{
    min-height:100vh;
    background: url('/img/friends-talking-min.jpg') no-repeat center center;
    background-size: cover;
    text-align:center;
    margin-bottom:0;
}

.jumbotron h1{
    position: relative;
    padding-top: 20%;
    margin: 0;
    color:whitesmoke;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
    font-family: 'Roboto Slab', serif;
}

.jumbotron p{
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    color:whitesmoke;
    font-family: 'Roboto Slab', serif;
}

.jumbotron a{
    margin-top: 20px;
}

.panel-default{
    opacity: 0.9;
    margin-top:30px;
}

.form-group.last { margin-bottom:0; }

#userList{
    white-space: nowrap;
}

#userList h3{
    margin-top:0;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    background-color: #0f0f0f;
    width:100%;
    font-family: 'Roboto Slab', serif;
    color:whitesmoke;
}

#userList li{
    margin-top:0;
    background-color: #1b6d85;
    transition:0.3s;
}

#userList a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:whitesmoke;
    display: block;
    transition: 0.3s
}

#userList a:hover {
    opacity: 1;
}

#userList li:hover{
    background-color: royalblue;
    transition:0.3s;
}

.notification-badge {
    position: relative;
}

.notification-badge[data-badge-count]:after {
    background: #0050b1;
    border-radius: 7px;
    color: #fff;
    content: attr(data-badge-count);
    font-size: 10px;
    font-weight: 600;
    height: 14px;
    line-height: 13px;
    right: -10px;
    padding: 0 6px;
    position: absolute;
    width: 12px;
    text-align: center;
    top: -6px;
}

#sidebar-wrapper{
    z-index:1;
    position: absolute;
    width:0;
    height:100%;
    overflow-y:hidden;
    background-color: #2c3e50;
    transition: all .4s ease 0s;
}

/**Container**/
#page-content-wrapper{
    width:100%;
    height:100%;
    position:absolute;
    transition: all .4s ease 0s;
    background: -webkit-linear-gradient(330deg, #17bebb, #f0a6ca);
    background: linear-gradient(120deg, #17bebb, #f0a6ca);
}

/*change the width of the sidebar to display it*/
.wrapper.menuDisplayed #sidebar-wrapper{
    width:250px;
    transition: all .7s ease 0s;
}

.wrapper.menuDisplayed #page-content-wrapper{
    padding-left:250px;
    transition: all .7s ease 0s;
}

#messageOutput{
    margin-top:0;
    margin-bottom: 10px;
    height:77vh;
    width:100%;
    overflow-y:hidden;
    overflow-x: hidden;
}

#messageOutput:hover{
    overflow-y:auto;
}

#messageOutput::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#messageOutput::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

#messageOutput::-webkit-scrollbar-thumb
{
    background-color: #000000;
}

#chatNav{
    postion:fixed;
    top:0;
    width:100%;
    margin-top: 0;
    height:100%;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
}

#messageOutput ul{
    margin:20px 0 0 0;
    padding-left:0;
}

#messageOutput li {
    list-style: none;
    margin-left:25%;
    margin-right:10%;
}

.avatar {
    width: 40px;
}

.avatar img {
    border-radius: 10px;
    width: 40px;
    height: 60px;
    display: inline-block;
}

.messages p {
    position: relative;
    display:block;
    padding-left:3px;
    padding-top:2px;
    padding-bottom:2px;
    background: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

.messages time {
    font-size: 0.7rem;
    color: #ccc;
}

#translation{
    white-space: nowrap;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
}

#messageEnter form {
    background: #222;
}

#messageEnter form input {
    background: rgba(255, 255, 255, 0.03);
    position: fixed;
    bottom: 0;
    left: 0;
    border: none;
    width: 75%;
    padding: 1.2em;
    outline: none;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.9);
}

:-moz-placeholder {
    color: rgba(255, 255, 255, 0.9);
}

::-moz-placeholder {
    color: rgba(255, 255, 255, 0.9);
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.9);
}


@media (max-width: 600px) {
    body{
        overflow:scroll;
    }

    .jumbotron {
        background-color: rebeccapurple;
        background-image: none;
    }

    .jumbotron h1 {
        font-size: 2em;
    }

    #chatHeader {
        font-size: 1em;
    }

    #sidebar-wrapper {
        z-index: 1;
        position: absolute;
        width: 0;
        height: 100%;
        overflow-y: hidden;
        background-color: #2c3e50;
        transition: all .4s ease 0s;
    }

    /**Container**/
    #page-content-wrapper {
        width: 100%;
        height: 100vh;
        position: fixed;
        padding: 15px;
        transition: all .4s ease 0s;
        background-color: whitesmoke;
    }

    /*change the width of the sidebar to display it*/
    .wrapper.menuDisplayed #sidebar-wrapper {
        width: 100%;

    }

    .wrapper.menuDisplayed #page-content-wrapper {
        padding-left: 0;
    }

    #messageOutput{
        margin-top: 0;
    }

    #messageOutput li {
        list-style: none;
        margin-left: 1px;
        margin-right: 2px;
    }
}


