<div class="wrapper" ng-class="userMenu">
  <div id="sidebar-wrapper">
    <div id="userList">
      <h3>Online Users</h3>
      <ul class="list-group" id="users" ng-repeat="user in usernames">
        <li>{{user}}</li>
      </ul>
    </div>
  </div>

  <div id="page-content-wrapper">
    <div class="container-fluid">
       <div class="row">
           <div class="col-md-3">
               <div class="row">
                    <a href="" class="btn btn-success" id="sidebarToggle"  ng-click="activeToggle()">Online Users</a>
               </div>

               <div class="row">
                   <div ng-controller="DropdownCtrl" id="languageControl">
                       <div class="btn-group" uib-dropdown is-open="status.isopen">
                           <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                               {{selected||'Select a language to translate to...' }}
                               <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                               <li role="menuitem" ng-repeat="option in options">
                                   <a href="" ng-click="changeLanguage(option)">{{option.language}}</a>
                               </li>
                           </ul>
                       </div>
                   </div>
               </div>

               <div class="row">
                   <div id="translation">
                        <h3>What You'll Say</h3>
                        <p>{{output}}</p>
                   </div>
               </div>
           </div>
           <div class="col-md-9">
               <div class="row">
                    <h4 id="chatHeader">What Was Said</h4>
                    <div class="messageOutput">
                        <ul>
                            <li ng-repeat="msg in msgs">
                                <div class="avatar">
                                    <img src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/5/profile/profile-80_9.jpg" />
                                </div>
                                <div class="messages">
                                    <p>{{msg.user}} : {{msg.msg}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
               </div>
               <div class="row">
                   <form role="form" class="form-horizontal" ng-submit="sendMsg()">
                       <div class="form-group">
                            <div class="input-group" id="messageEnter">
                               <input type="text" ng-model="msg" placeholder="Pick a language and start typing, Yay!" class="form-control"/>
                               <span class="input-group-btn">
                                   <input type="submit" class="btn btn-info" value="Send Message"/>
                               </span>
                            </div>
                       </div>
                   </form>
               </div>
           </div>
       </div>
    </div>
  </div>
</div>


