<div class="row">
  <div class="col-md-4">
    <div class="userList">
      <h3>Online Users</h3>
      <ul class="list-group" id="users" ng-repeat="user in usernames">
        <li>{{user}}</li>
      </ul>
    </div>
  </div>

  <div class="col-md-6">
    <div ng-controller="DropdownCtrl">
      <h3>Translate to: </h3>
      <div class="btn-group" uib-dropdown is-open="status.isopen">
        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
          {{selected||'Select a language to translate to...' }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li role="menuitem" ng-repeat="option in options">
            <a href="" ng-click="changeLanguage(option)">{{option.language}}</a>
          </li>
        </ul>
      </div>
    </div>
    <form role="form" class="form-inline" ng-submit="sendMsg()">
      <div class="form-group">
        <input type="text" ng-model="msg" class="form-control"></input>
        <input type="submit" class="btn btn-info" value="Send Message"/>
      </div>
    </form>
  </div>
  <div class="col-md-2">
    <h4>What You'll Say</h4>
    {{output.text}}
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-4">
    <h4>What Was Said</h4>
    <ul>
      <li ng-repeat="msg in msgs">{{msg}}</li>
    </ul>
  </div>
</div>